
body {
  background: url("/assets/squares.png");
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
}

.container {
    background: url("/assets/tileable_wood_texture.png");
}

.podcast-entry {
  font-size: 12px;
  padding: 8px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  margin-bottom: 10px;
  border-radius: 5px;
}
.podcast-playlist {
  font-size: 12px;
  padding: 8px;
  background: rgb(97, 94, 94);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
  margin-bottom: 17px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.podcast-entry img {
  width: 100%;
}

.podcast-saved-list, .podcast-list {
  padding-left: 0;
}

.podcast-entry-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  color: #db63ab;
  font-size: 2.5em;
  }
#podcast-list-title {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: bold;
  color: #0e0d0d;
  font-size: 3.5em;
  }

.podcast-entry-title:hover {
  color: #2448c0;
  cursor: pointer;
}

.podcast-entry-detail {
  font-size: 1.2em;
  color: #999;
  font-style: italic;
}
.podcast-entry-detail-link {
  font-size: 1.4em;
  font-weight: bold;
  color: rgb(28, 25, 54);
  margin-bottom: 6px;
}

.navbar2 {
float: right;
}

.navbar1 {
float: left;
}

#mainTitle {
  font-family: 'Monoton',
  cursive;
  font-weight: bold;
  /* color: #533fc4; */
  font-size: 70px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

input[type="text"] {
  width: 500px;
  height: 60px;
  font-size: 1.7em;
}

.search-form {
  margin-top: 20px;
}

.btn {
  padding: 12px 30px 12px 30px;
  font-size: 1.8em;
  background: #373636;
  color: #fff;
  margin-left: 6px;
}