<div id="app container">
    <h2 id="title"><span class="fa fa-coffee fa-lg" style="color:rgb(230, 121, 172);"></span> {{$ctrl.username}}, Welcome to Podcast App! </h2>
  <div class="col-md-5">
    <podcast-play podcast='$ctrl.currentPodcast'></podcast-play>  
  </div>
  <div class="col-md-5" id="friends">
    <p>Your Friends!</p>
    <ul>
      <li ng-repeat='friend in $ctrl.friends track by $index'>{{friend}}</li> 
    </ul>
  </div>
  <nav class="navbar">
    <div class="col-md-5">
      <search result='$ctrl.searchResults'></search>
    </div>
  </nav>
  <div class="col-md-5">
    <podcast-list podcasts='$ctrl.podcasts' on-save-podcast='$ctrl.onSavePodcast'></podcast-list>
  </div>
  <div class="col-md-5">
    <podcast-saved-list podcasts='$ctrl.savedpodcasts' on-click='$ctrl.selectPodcast' on-delete-podcast='$ctrl.onDeletePodcast'></podcast-list>
    </div>
    <div>
    </div>