<div class="col-md-12">
  <h3>Login Page</h3>

  <form ng-submit="formSubmit()" class="form">
    <div class="col-md-4">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="$ctrl.username" placeholder="username" required="" />
      </div>

      <div class="form-group">
        <input type="password" class="form-control" ng-model="$ctrl.password" placeholder="password" required="" />
      </div>

      <div class="form-group">
        <button type="submit" ng-click="$ctrl.submit()" class="btn btn-success">Login</button>
      </div>

    </div>
  </form>
    <p>{{$ctrl.message}}</p>
</div>