<li class="podcast-entry media">
  <div class="row">
    <div class="col-md-4">
      <img src={{$ctrl.podcast.artwork_url}} />
    </div>
    <div class="col-md-8">
      <div class="podcast-entry-title" ng-click="$ctrl.onClick($ctrl.podcast)">{{$ctrl.podcast.title}}</div>
      <div class="podcast-entry-detail">Duration: {{$ctrl.format($ctrl.podcast.duration /1000 / 60)}}</div>
      <div class="podcast-entry-detail-link"><a href={{$ctrl.podcast.permalink_url}}>Jump to {{$ctrl.podcast.title}}</a></div>
      <button class="btn" ng-click="$ctrl.onDeletePodcast($ctrl.podcast)">
        <span class="glyphicon glyphicon-trash" style="color:rgb(230, 121, 172);"></span>
      </button>
    </div>
  </div>
</li>